.idea/
bin/
obj/
out/

*.sln.iml

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

*.nupkg
packages/
.nuget/

appsettings.Development.json
appsettings.Local.json

BlockchainTest/
ClientTest/
TestDb/
Node_01/
Node_02/
Test/
TestStun/

*.log
*.cache
*.tmp

.DS_Store
Thumbs.db

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml

*.pdb
*.runtimeconfig.json
*.deps.json