# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.Termite_2.0.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/.idea.Termite_2.0/.idea/workspace.xml

# =========================
# Build folders
# =========================
bin/
obj/
out/
build/
dist/

# =========================
# .NET
# =========================
*.dll
*.exe
*.pdb
*.cache
*.deps.json
*.runtimeconfig.json

# =========================
# NuGet
# =========================
*.nupkg
*.snupkg
packages/
.nuget/

# =========================
# Rider / IntelliJ
# =========================
.idea/
*.sln.iml

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Test / temp
# =========================
*.tmp
*.temp